body {
    margin:0;
    padding:0;
}
.mymargin{
    margin-left: auto;
}
nav.navbar {
    background-color:lightgreen;
    /* box-shadow: 0 5px green; */
    margin-bottom: 10px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    display: none;  
    border:1px solid rgba(0,0,0,.5); 

  }
  .dropdown-content a {
    background-color:lightgreen;
    color: rgba(0,0,0,.5);
    border:1px solid rgba(0,0,0,.5); 
  } 

  .dropdown button {
    background: none;
    background-color:lightgreen;
    color: black;
    border: none;
    margin-top: 6px;
    color: rgba(0,0,0,.5);
  }
  .dropdown button:hover {
    color: black;
    border: none;
  }


a.nav-link {
    color:black;
    /* font-size: 18px; */
}
a.navbar-brand {
    color:black;
    /* font-size: 20px; */
    font-style: oblique;
}
div.buttons button.color_btn {
    background-color:red;
    color:white;
    border:none;
    padding:5px;
    margin:0 8px;
    padding-left:7px;
    padding-right: 7px;
    border-radius: 4px;
    

}
.color_btn {
    background-color:red;
    color:white;
    border:none;
    padding:5px;
    margin:0 8px;
    
    border-radius: 4px;
    

}
div.buttons button.color_btn,.color_btn:hover {
    color:white;
    text-decoration: none;
}
.myfooter {
    text-align:center;
    /* display: block; */
    width:100%;

    background-color: blue;
    margin:0;
    position:absolute;
    bottom:0;
    
}
.homefooter{
    text-align:center;
    /* display: block; */
    width:100%;

    background-color: blue;
    margin:0;
    position:relative;
    bottom:0;
    
}
div.username {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left:auto;
}
div.username h6 {
    margin-top: 10px;
    margin-right:4px;
}
a.logout {
    border:1px solid green;
    padding:7px;
    color:green;
    text-decoration: none;
    border-radius: 4px;
}
a.logout:hover {
    color:white;
    background-color: green;
}
@media(max-width:769px) {
    div.username {
        flex-direction: column;
    
    }

    div.username a {
        width:15%;
    }
    form.buttons {
        display: flex;
        flex-direction: column;
        width:15%;
        margin-right: auto;
        float: left;
        /* border:1px solid black; */
    }
    /* div.buttons button.color_btn {
        /* margin: 10px 0; 
        padding-left: 3px;
        padding-right: 3px;
    } */
    form.buttons a {
        margin-top:5px;
        /* border: none; */
    }
    .small_block .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* background-color: brown; */
        
    }
    .small_block .row div {
        margin:auto 0;
        width:100%;
        display: block;
        text-align: center;
        justify-content: center;
    }
    .small_block .row div p {
        text-align: center;
        margin: auto;
    }
    .small_block .row div img {
        float:none;
    }
}
@media(max-width:1200px) {
    .myfooter {
        position:relative;
        bottom: 0;
    }
}


    


